/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.docs-search {
    margin: 10px 0;
    padding: 4px 0 4px 20px;
    background: white;
    border-radius: 20px;
    vertical-align: middle;
}

.docs-search > .search-icon {
    font-size: 15px;
    margin-right: 10px;
}
.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.docs-search > .search-query {
    font-size: 14px;
    border: 0;
    width: 80%;
    color: #555;
}

.phone{
  float:left;
  height:164px;
  position:relative;
  width:112px;
}

.phone-pic{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9CDCC;
    clear: both;
    height: 100px;
    margin: 0 auto 4px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    width: 95px;

}

.phone-details{
  padding-top: 20px;
}

.selected-phone-image{
  padding-top: 20px;
  width:100%;
}

.selected-phone-name{
  float: left;
  padding-left: 10px;
  color: red;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

td, tr{
  border: 1px solid;
}

.selected-phone-prop{
  width:40%;
  text-transform: uppercase;
}

.title-row {
  font-size: 2em;
  text-align: left;
  font-weight: 600;
  font-family: Arial;
  color: gray;
  padding-bottom: 4px;
}

p.post-date{
  text-align: right;
  font-size: 0.8em;
  color: gray;
}

.single-post{
  margin-bottom:3px;
}

.post-container{
  border:1px solid gray;
  border-radius: 6px;
}