<div class="jumbotron" ng-controller="MainCtrl">


  <div class="container" ng-repeat="post in currentPosts">
    <div class="row single-post">
      <div class="col-xs-12 col-md-8 col-md-offset-2" >
        <div class="container post-container">
          <div class="row title-row"><a ng-bind-html="post.title" ng-href="#/blog/{{$index}}"></a>
          </div>
          <p class="post-date">{{post.date}}</p>
          <p>
          <div class="content row">
            <div class="picture col-sm-2 col-xs-12"><img class="post-img" src="images/awesome.png"></div>
            <div class="details col-sm-10 col-xs-12" ng-bind-html="post.excerpt"></div>

          </div>
        </div>
      </div>
    </div>

</div>

<ul class="pagination" ng-repeat="page in pages">

  <li><a ng-click="setPage(page)" ng-disabled="{{page}}===currentPage">{{page}}</a></li>
</ul>

</div>
