<div class="jumbotron" ng-controller="MainCtrl">


  <div class="container" ng-repeat="post in currentPosts">
    <div class="row" style="border:1px solid;">
      <div class="col-xs-12 col-md-8 col-md-offset-2" style="border:1px solid red;">
        <div class="container">
          <div class="row title-row">
            {{post.title}}
          </div>
          <div class="content row">
{{post.excerpt}}
          </div>
        </div>
      </div>
    </div>
    <!--<div class="row" style="border:1px solid;">
      <div class="col-xs-12 col-md-8 col-md-offset-2" style="border:1px solid red;">
        drugi psost
      </div>
    </div>
    <div class="row" style="border:1px solid;">
      <div class="col-xs-12 col-md-8 col-md-offset-2" style="border:1px solid red;">
        Treci psost
      </div>
    </div>-->
</div>

<ul class="pagination" ng-repeat="page in pages">
  <!--<li><a href="#">&laquo;</a></li>
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>-->
  <li><a ng-click="setPage(page)">{{page}}</a></li>
</ul>

</div>
